:root {
	--gray-light: #f7f7f7;
	--gray-dark: #202125;
};

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
	opacity: .1;
}

.opacity-2 {
	opacity: .2
}

.opacity-3 {
	opacity: .3
}

.opacity-4 {
	opacity: .4
}

.opacity-5 {
	opacity: .5
}

.opacity-6 {
	opacity: .6
}

.opacity-7 {
	opacity: .7
}

.opacity-8 {
	opacity: .8
}

.opacity-9 {
	opacity: .9
}

.opacity-10 {
	opacity: 1
}

.bg-gray-light {
	background-color: var(--gray-light);
}

.bg-gray-dark {
	background-color: var(--gray-dark);
}

body {
	overflow-x: hidden;
	overflow-y: overlay;
	font-family: "Whitney"
}

.font-weight-300 {
	font-weight: 300 !important;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.font-weight-500 {
	font-weight: 500 !important;
}

.font-weight-600 {
	font-weight: 600 !important;
}

.font-weight-700 {
	font-weight: 700 !important;
}

.font-monospace {
	font-family: "Roboto Mono", monospace
}

section.hero {
	/*background-image: linear-gradient(45deg, #4a47d4, #00000000, #4fd6d09e);*/
	background-image: linear-gradient(239deg, #1487fd9e, transparent), radial-gradient(#330d6526, #0d6efd2b), linear-gradient(155deg, #4055bf 0%, #d251c9 46%, #699fef 100%);
	position: relative;
}

.form-group.stack-vertical input {
    border-radius: 0;
    position: relative;
    top: -1px;
}

.form-group.stack-vertical input:first-child {
    top: 0;
    border-radius: .25rem .25rem 0 0;
}

.form-group.stack-vertical input:last-child {
    top: -2px;
    border-radius: 0 0 .25rem .25rem;
}

[data-loc="/"] nav.navbar {
	position: absolute;
    width: 100vw;
    z-index: 2;
}

.list-icon {
	list-style: none;
}

.list-icon li::before {
	font-family: twotone !important;
	content: attr(data-icon);
    position: absolute;
    left: 23px;
    font-weight: 600;
    color: var(--bs-success);
}

.list-icon li[data-icon-danger]::before {
	color: var(--bs-danger) !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='150' viewBox='0 0 24 24' width='150'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z' style='&%2310; fill: %23198754;&%2310;'/%3E%3C/svg%3E");
}

.form-floating .label-right {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding: 1rem 2rem;
	pointer-events: none;
	border: 1px solid transparent;
}

.form-floating .form-control:focus::placeholder {
	color: inherit !important;
	opacity: .25;
}

.hero .art,
.hero .art-night {
	overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    background-image: linear-gradient(45deg, rgb(255 255 255 / 20%), rgb(255 255 255 / 20%) 17%, rgb(255 255 255 / 17%) 17%, rgb(255 255 255 / 17%) 34%, rgb(255 255 255 / 13%) 34%, rgb(255 255 255 / 13%) 51%, rgb(255 255 255 / 10%) 51%, rgb(255 255 255 / 10%) 68%, rgb(255 255 255 / 7%) 68%, rgb(255 255 255 / 7%) 85%, rgb(255 255 255 / 3%) 85%);
}

.hero .art img,
.hero .art-night img {
    opacity: .4;
    position: absolute;
    z-index: 0;
    animation: hero-float 2400s linear forwards;
}

@keyframes hero-float {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(7000px);
	}
}

.card {
	border-radius: .5rem;
}

.card-header:first-child {
	border-radius: .5rem .5rem 0 0;
}

.art-night {
	display: none;
}

.content section:only-of-type {
	min-height: 100vh;
}

.error {
	font-size: 8rem;
    position: relative;
    line-height: 1;
    width: max-content;
    background-color: inherit;
}

.error:after {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 #e74a3b;
	top: 0;
	color: inherit;
	background: inherit;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s infinite linear alternate-reverse
}

.error:before {
	content: attr(data-text);
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 #4e73df;
	top: 0;
	color: inherit;
	background: inherit;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 3s infinite linear alternate-reverse
}

@-webkit-keyframes noise-anim-2 {
	0% {
		clip: rect(34px, 9999px, 67px, 0)
	}
	5% {
		clip: rect(97px, 9999px, 95px, 0)
	}
	10% {
		clip: rect(59px, 9999px, 57px, 0)
	}
	15% {
		clip: rect(44px, 9999px, 73px, 0)
	}
	20% {
		clip: rect(23px, 9999px, 16px, 0)
	}
	25% {
		clip: rect(46px, 9999px, 58px, 0)
	}
	30% {
		clip: rect(53px, 9999px, 49px, 0)
	}
	35% {
		clip: rect(54px, 9999px, 42px, 0)
	}
	40% {
		clip: rect(92px, 9999px, 10px, 0)
	}
	45% {
		clip: rect(89px, 9999px, 15px, 0)
	}
	50% {
		clip: rect(52px, 9999px, 9px, 0)
	}
	55% {
		clip: rect(20px, 9999px, 12px, 0)
	}
	60% {
		clip: rect(89px, 9999px, 69px, 0)
	}
	65% {
		clip: rect(6px, 9999px, 31px, 0)
	}
	70% {
		clip: rect(9px, 9999px, 47px, 0)
	}
	75% {
		clip: rect(72px, 9999px, 95px, 0)
	}
	80% {
		clip: rect(45px, 9999px, 34px, 0)
	}
	85% {
		clip: rect(6px, 9999px, 44px, 0)
	}
	90% {
		clip: rect(94px, 9999px, 92px, 0)
	}
	95% {
		clip: rect(81px, 9999px, 56px, 0)
	}
	100% {
		clip: rect(58px, 9999px, 61px, 0)
	}
}

@keyframes noise-anim-2 {
	0% {
		clip: rect(34px, 9999px, 67px, 0)
	}
	5% {
		clip: rect(97px, 9999px, 95px, 0)
	}
	10% {
		clip: rect(59px, 9999px, 57px, 0)
	}
	15% {
		clip: rect(44px, 9999px, 73px, 0)
	}
	20% {
		clip: rect(23px, 9999px, 16px, 0)
	}
	25% {
		clip: rect(46px, 9999px, 58px, 0)
	}
	30% {
		clip: rect(53px, 9999px, 49px, 0)
	}
	35% {
		clip: rect(54px, 9999px, 42px, 0)
	}
	40% {
		clip: rect(92px, 9999px, 10px, 0)
	}
	45% {
		clip: rect(89px, 9999px, 15px, 0)
	}
	50% {
		clip: rect(52px, 9999px, 9px, 0)
	}
	55% {
		clip: rect(20px, 9999px, 12px, 0)
	}
	60% {
		clip: rect(89px, 9999px, 69px, 0)
	}
	65% {
		clip: rect(6px, 9999px, 31px, 0)
	}
	70% {
		clip: rect(9px, 9999px, 47px, 0)
	}
	75% {
		clip: rect(72px, 9999px, 95px, 0)
	}
	80% {
		clip: rect(45px, 9999px, 34px, 0)
	}
	85% {
		clip: rect(6px, 9999px, 44px, 0)
	}
	90% {
		clip: rect(94px, 9999px, 92px, 0)
	}
	95% {
		clip: rect(81px, 9999px, 56px, 0)
	}
	100% {
		clip: rect(58px, 9999px, 61px, 0)
	}
}

.shooting-stars {
    transform: rotate(32deg);
    position: absolute;
    top: 0;
    left: 0;
}

.shooting-star {
    position: absolute;
    width: 0;
    background-color: #fff;
    height: 2px;
    background: linear-gradient(-45deg, #b3e5fc, transparent);
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699bff);
    animation: shooting-star-trail 500ms ease-out;
    margin-left: 200px;
}

.shooting-star::before,
.shooting-star::after {
	content: '';
	display: block;
	position: absolute;
	background-image: linear-gradient(-45deg, transparent, #b3e5fc, transparent);
	top: 1px;
	right: 0;
}

.shooting-star::after {
    transform: translateY(-50%) rotateZ(45deg);
    height: 0;
    width: 2px;
	animation: shooting-star-shineY 500ms ease-in-out;
	animation-delay: inherit;
}

.shooting-star::before {
    transform: translateX(50%) rotateZ(45deg);
    width: 0;
    height: 2px;
	animation: shooting-star-shineX 500ms ease-in-out;
	animation-delay: inherit;
}

@keyframes shooting-star-trail {
	0% {
		width: 0;
		margin-left: 0;
	}
	50% {
		width: 300px;
		margin-left: 100px;
	}
	100% {
		width: 0;
		margin-left: 400px;
	}
}

@keyframes shooting-star-shineX {
	0% {
		width: 0;
	}
	80% {
		width: 30px;
	}
	100% {
		width: 0;
	}
}

@keyframes shooting-star-shineY {
	0% {
		height: 0;
	}
	80% {
		height: 30px;
	}
	100% {
		height: 0;
	}
}


.placeholder-item {
    position: relative;
    overflow: hidden;
}

.placeholder-item::before {
    content: '';
    display: block;
    position: absolute;
    left: -300px;
    top: 0;
    height: 100%;
    width: 300px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: placeholder-load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes placeholder-load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}

.pattern {
	position: relative;
}

.pattern * {
	z-index: 1;
}

.pattern-overlay {
	overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.pattern-overlay:before,
.pattern-overlay:after {
	--p: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-mask: var(--mask);
	mask: var(--mask);
	content: "";
	z-index: 0;
}

.pattern-overlay:after {
  --p: 1;
}

.pattern1:before, .pattern1:after {
    background: linear-gradient(calc(calc(1 - 2 * var(--p)) * 45deg), transparent calc(50% - 1px), rgba(255, 255, 255, .05) 0, rgba(255, 255, 255, .05) calc(50% + 1px), transparent 0) 0 0/0.5em 0.5em;
    --mask: linear-gradient(red 50%, transparent 0) 0 0/ 4em 4em, linear-gradient(90deg, red 50%, transparent 0) calc(var(--p) * 2em) 0/ 4em 4em;
    -webkit-mask-composite: xor;
}

.pattern2:before, .pattern2:after {
    background: repeating-linear-gradient(calc(calc(1 - 2 * var(--p)) * 45deg), rgba(255, 255, 255, .05) 0, rgba(255, 255, 255, .05) 3px, transparent 0, transparent 13px);
    --mask: repeating-radial-gradient(circle, hsla(0, 0%, 0%, var(--p)) 0, hsla(0, 0%, 0%, var(--p)) 2em, hsla(0, 0%, 0%, calc(1 - var(--p))) 0, hsla(0, 0%, 0%, calc(1 - var(--p))) 4em);
}

.form-control-translucent {
    background-color: rgb(255 255 255 / 20%);
    border-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
    color: #fff;
}

.form-control-translucent:focus {
    background-color: rgb(255 255 255 / 20%);
    border-color: rgb(255 255 255 / 20%);
    color: #fff;
    /*box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);*/
    box-shadow: none;
}

.link {
	color: #1a73e8;
	font-weight: 500;
	border: 0;
	-webkit-appearance: none;
	background-color: transparent;
	padding: 0;
	font-size: .9rem;
}

.progress-infinite {
	animation: progress-infinite 1s linear infinite;
	position: relative;
}

@keyframes progress-infinite {
   0% {left:0%;width:00%;}
   50% {left:35%;width:65%;}
   100% {left:120%;width:80%;}
}

a {
	font-weight: 500;
}

footer a,
.nav a,
nav a {
	font-weight: normal;
}

.navbar-brand {
	font-weight: bold;
}

.form-floating-sm>.form-control,
.form-floating-sm>.form-select {
    height: calc(2.33rem + 2px);
    padding: .6rem .5rem;
    font-size: .85rem;
}

.form-floating-sm>label {
	font-size: .8rem;
    padding: .6rem .5rem;
}

.form-control-button {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.form-control-button:hover {
	color: inherit;
}

.form-control-digit {
    font-size: 1.7rem;
}

.input-group-digit {
    margin: 0 auto;
    font-family: "Roboto Mono", monospace;
}

.form-control-digit:focus {
	box-shadow: none !important;
	border-color: #ced4da;
}

.btn.disabled {
    opacity: 1;
    color: #fffc;
    background-color: #969ca3;
    border-color: #969ca3;
}

li[data-bs-toggle="tooltip"] {
	width: max-content;
}

.panel-nav {
    position: absolute;
    border-bottom: 1px solid #0003;
    width: 100%;
    top: 0;
    padding-top: 70px;
    background-color: #e6e6e6;
}

.panel-nav h1 {
	border-bottom: 0;
}

.panel-tabs .nav-link {
    position: relative;
    bottom: -1px;
    color: inherit;
    opacity: .6;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

.panel-tabs .nav-link:focus,
.panel-tabs .nav-link:hover {
	border-bottom-color: #b6b9bc;
	opacity: .9;
}

.panel-tabs .nav-link.active {
	background-color: transparent;
    color: inherit;
    font-weight: 500;
    border: 0;
    border-bottom: 2px solid var(--bs-primary);
    opacity: 1;
}

.panel-tabs .nav-link .icon-tt {
	font-size: 120%;
    margin-top: 1px;
    margin-right: .5rem;
}

.panel-main {
	padding-top: 165px;
}

.console-view {
    font-family: var(--bs-font-monospace);
    font-size: .8rem;
    padding: .5rem;
    height: 100%;
    padding-bottom: 37px;
    overflow: auto;
}

.console-view .line {
    display: block;
    min-height: 19px;
}

.console-input {
	border-top: 1px solid #343a40;
	position: absolute;
    width: 100%;
    bottom: 0;
}

.console-input .input-group-text,
.console-input .form-control {
    background: transparent;
    color: inherit;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
}

.btn-icon {
    -webkit-appearance: none;
    border: none;
    font-size: 1.3rem;
    background-color: unset;
    line-height: 0;
    padding: 0.5rem;
    color: inherit;
}

.servers-folder {
    border-color: #8ab4f8;
}

.servers-folder .card-footer {
    background-color: rgb(138 180 248 / 30%);
    border-top: inherit;
}

.servers-add p {
    font-size: 1.2rem;
    text-align: center;
    opacity: .7;
    text-transform: uppercase;
    width: 100%;
}

.plan.card[data-plan]:not(.disabled):hover,
.plan.card[data-plan]:not(.disabled):focus {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-color: var(--bs-primary);
}

.plan.card:focus {
	outline: 0 !important;
}

.row .plan.card {
    height: 100%;
    transition: all 150ms ease;
}

.plan.disabled {
	opacity: .6;
	filter: grayscale();
	pointer-events: none;
	user-select: none;
}

.currency-select span:first-child {
    width: 21px;
    height: 21px;
    line-height: 21px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 15%);
    text-align: center;
    font-size: 80%;
}

.currency-select li:not(.active) span:first-child {
    width: 21px;
    height: 21px;
    line-height: 21px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 15%);
    text-align: center;
    font-size: 80%;
}

.dropdown-search {
    max-height: 150px;
    overflow: auto;
}

.loader.lg {
    width: 120px;
    height: 120px;
    border-width: 4px;
}

.loader {
    border: 2px solid;
    border-color: #00000026;
    border-radius: 50%;
    border-top-color: var(--bs-primary);
    animation: loader-spin 1s linear infinite;
}

.btn.loading::after {
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	left: 10px;
	top: calc(50% - 10px);
	border: 2px solid #ffffff40;
	border-top-color: white;
	border-radius: 50%;
	animation: loader-spin 1s linear infinite;
}

.btn.loading {
    position: relative;
    font-size: 0;
}

.btn.loading::before {
    content: attr(data-loading);
    display: inline-block;
    margin-left: 23px;
    font-size: 1rem;
}

@keyframes loader-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
::-webkit-scrollbar {
	width: .65rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #b3b2b2ab;
	border-radius: .65rem;
	border: .25rem solid transparent;
	border-left: 0;
  	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #b3b2b2cf;
}