@font-face {
    font-family:"pixelerated";
    src:url("https://cloudnode.pro/r/fonts/minecraftia-webfont.woff");
    src:url("https://cloudnode.pro/r/fonts/minecraftia-webfont.woff") format("woff");
    font-weight:400;
    font-style:normal
}